*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

h1 {
  margin-bottom: 1rem;
  text-align: center;
}

main {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

main > * {
  flex-basis: 300px;
  text-align: center;
}

.left-col,
.right-col {
  padding-block: 0.5rem 1rem;
  outline: 1px solid grey;
  background-color: rgb(240, 240, 240);
}

.img-wrapper {
  min-height: 4.25rem;
  width: 100px;
  margin-inline: auto;
  display: grid;
  place-content: center;
  margin-block: 0.5rem;
}

img {
  width: 50px;
}

select {
  margin-block: 0.3rem 0.5rem;
}

input {
  margin-top: 0.3rem;
  display: block;
  margin-inline: auto;
}

.right-col p:last-child {
  font-size: 2rem;
  font-weight: 700;
}

button {
  width: 100px;
  margin-top: 1rem;
  padding: 0.3rem 0rem;
}
